img{
    width: 60px;
    margin: 10px 0;
}

h5{
    color:white;
    font-size: 13px;
}

@media (max-width: 1000px){
    img{
        width: 43px;
    }
    h5{
        font-size: 8px;
    }
}
@media (max-width: 400px){
    img{
        width: 33px;
    }
    h5{
        font-size: 6px;
    }
}
